.widgets {
  flex: 0.3;
}
.widgets_input {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: gray;
}
.widgets_input > input {
  border-radius: 12px;
  border: 1px solid gray;
  padding: 5px;
}
